__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
build/
dist/
.venv
.DS_Store
.pytest_cache/
*.sqlite3
media/
node_modules/
.venv/
.git
*.egg-info
pip-log.txt
pip-delete-this-directory.txt
Dockerfile
docker-compose*.yml
/.env
